<h3>Comments</h3>
        <div id="comments-list">
            {% for comment in article.comments.all %}

                <div id="comment-div-{{ comment.id }}" style="border-bottom: 1px solid #eee; margin-bottom: 10px; padding-bottom: 5px;">
                    <strong>{{ comment.name }}</strong> <small style="color: grey;">({{ comment.created_at|date:"d M Y" }})</small>
                    <p>{{ comment.body }}</p>

                    {% if comment.id in my_comments or comment.user == request.user %}
                        <div style="margin-top: 5px;">
                            <button hx-get = "{% url 'edit_comment' comment.id %}"
                                    hx-target = "#comment-div-{{ comment.id }}"
                                    hx-swap = innerHTML
                                    style="color: blue; background: none; border: none; cursor: pointer; padding: 0; margin-right: 10px;">Edit</button>
                            <button hx-post="{% url 'delete_comment' comment.id %}"
                                    hx-target="#comment-section"
                                    hx-confirm="Delete your comment?"
                                    style="color: red; background: none; border: none; cursor: pointer; padding: 0;">
                                Delete
                            </button>
                        </div>
                    {% endif %}

                </div>
            {% empty %}
                <p id="no-comments">There are no comments yet. Be the first one to comment!</p>
            {% endfor %}
            </div>

            <hr>

            <h4>Add a Comment</h4>
            <form hx-post="{% url 'add_comment' article.slug %}"
                hx-target="#comment-section"
                hx-swap="innerHTML">
                {% csrf_token %}
                <div>
                    <label>Name:</label><br>
                    <input type="text" name="name" required style="width: 30%; margin-bottom: 10px;">
                </div>
                <div>
                    <label>Comment:</label><br>
                    <textarea name="body" required style="width: 100; height: 80px; margin-bottom: 10px;"></textarea>
                </div>
                <button type="submit">Submit Comment</button>
            </form>